<div class='panel panel-primary'>
    <div class='panel-heading'>
        <div class="row">
            <div class="col-sm-12">Drop List ({{ drops.length }})</div>
        </div>
    </div>

    <div class='panel-body' *ngIf='drops.length === 0'>
        <div class="row">
            <div class="col-xs-12">
                <p>Loading data... just have to be patient..</p>
            </div>
        </div>
    </div>

    <div class='panel-body' *ngIf='drops && drops.length'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <div id="block" (click)="sortOn($event, 'type')">Type<span [class]="getClass('type')"></span></div> |
                            <div id="block" (click)="sortOn($event, 'area')">Area<span [class]="getClass('area')"></span></div> |
                            <div id="block" (click)="sortOn($event, 'phase')">Phase<span [class]="getClass('phase')"></span></div>
                        </th>
                        <th>Drops/1 energy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="typeFilter" [(ngModel)]='typeFilter' placeholder="Filter type...">
                                <option></option>
                                <option>Raid</option>
                                <option>Dungeon</option>
                                <option>Quest</option>
                                <option>Elite</option>
                            </select>
                            <input type='text' name="nameFilter" [(ngModel)]='nameFilter' placeholder="Filter name..." />
                        </td>
                        <td><input type='text' name="dropFilter" [(ngModel)]='dropFilter' placeholder="Filter drop..." /></td>
                    </tr>
                    <tr *ngFor="let area of drops | hasDropFilter:dropFilter | stringFilter:nameFilter:'area' | stringFilter:typeFilter:'type' | orderBy : [sort] ">
                        <td>
                            <div class="row">
                                <div class="col-md-4 col-xs-12"><strong><a [routerLink]="['/locations']" [queryParams]="{search:area.area}">{{area.area}}</a></strong></div>
                                <div class="col-md-4 col-xs-12"><small><a [routerLink]="['/locations']" [queryParams]="{type:area.type}">{{area.type}}</a></small></div>
                                <div class="col-md-4 col-xs-12" *ngIf="area.phase !== 0"><small>Phase {{area.phase}}</small></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12"><small>Data entries: {{area.count}}</small></div>
                                <div class="col-md-4 col-xs-12"><small>Energy per wave: {{area.ePerWave}}</small></div>
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let drop of area.dropRate | dropFilter:dropFilter"><strong>{{ drop.dropRate | number : '1.2-2' }}</strong> {{ drop.item }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>