<div class='panel panel-primary'>
    <div class='panel-heading'>
        <div class="row">
            <div class="col-sm-12">Location List ({{ locations.length }})</div>
        </div>
    </div>

    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='locations && locations.length'>
                <thead>
                    <tr>
                        <th (click)="sortOn($event, 'name')">Name<span [class]="getClass('name')"></span></th>
                        <th (click)="sortOn($event, 'type')">Type<span [class]="getClass('type')"></span></th>
                        <th (click)="sortOn($event, 'parent')">Area<span [class]="getClass('parent')"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type='text' name="locationStringFilter" [(ngModel)]='locationStringFilter' placeholder="Filter location..."/></td> 
                        <td><input type='text' name="typeStringFilter" [(ngModel)]='typeStringFilter' placeholder="Filter area..."/></td> 
                        <td><input type='text' name="areaStringFilter" [(ngModel)]='areaStringFilter' placeholder="Filter area..."/></td> 
                    </tr>
                    <tr *ngFor="let location of locations | stringFilter:locationStringFilter:'name' | stringFilter:typeStringFilter:'type' | stringFilter:areaStringFilter:'parent' | orderBy : [sort] ">
                        <td>{{location.name}}</td>
                        <td>{{location.type}}</td>
                        <td>{{location.parent}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>