<h1>{{title}}</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/recipes" [routerLinkActive]="['activeRouterLink']">Recipes</a>
      <a class="navbar-brand" routerLink="/materials" [routerLinkActive]="['activeRouterLink']">Materials</a>
      <a class="navbar-brand" routerLink="/locations" [routerLinkActive]="['activeRouterLink']">Locations</a>
      <a class="navbar-brand" routerLink="/raids" [routerLinkActive]="['activeRouterLink']">Raids</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Version 2.0.0 April 9 2017 18:16 Server Time - by Gius @see <a href="https://github.com/rkristelijn/boh">github</a></span>
  </div>
</footer>