<h1>{{title}}</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/recipes">Recipes</a>
      <a class="navbar-brand" routerLink="/materials">Materials</a>
      <a class="navbar-brand" routerLink="/locations">Locations</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Version 1.2.0 April 5 2017 20:02 Server Time - by Gius @see <a href="https://github.com/rkristelijn/boh">github</a></span>
  </div>
</footer>