<h1>{{title}}</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/recipes" [routerLinkActive]="['activeRouterLink']">Recipes</a>
      <a class="navbar-brand" routerLink="/materials" [routerLinkActive]="['activeRouterLink']">Materials</a>
      <a class="navbar-brand" routerLink="/locations" [routerLinkActive]="['activeRouterLink']">Locations</a>
      <a class="navbar-brand" routerLink="/raids" [routerLinkActive]="['activeRouterLink']">Raids</a>
      <a class="navbar-brand" routerLink="/gear" [routerLinkActive]="['activeRouterLink']">Gear</a>
      <a class="navbar-brand" routerLink="/drops" [routerLinkActive]="['activeRouterLink']">Drops</a>
      <a class="navbar-brand" routerLink="/schedule" [routerLinkActive]="['activeRouterLink']">Schedule</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Version 2.2.0 April 17 2017 15:00 Server Time - by Gius @see <a target="_blank" href="https://github.com/rkristelijn/boh">github</a>. Remarks? - please post on <a target="_blank" href="https://www.venan.com/boh_forum/viewtopic.php?f=13&t=8790">BOH forum</a></span>
  </div>
</footer>