<div class='panel panel-primary'>
    <div class='panel-heading'>
        <div class="row">
            <div class="col-sm-12">Recipe List ({{recipes.length}})</div>
        </div>
    </div>

    <div class='panel-body'>
        <div class="row">
            <div class="col-xs-12"><a routerLink="/recipes" [queryParams]="{search:'Enchant: Skill'}">Skill</a>:
                <a routerLink="/gear" [queryParams]="{type:'Helmet'}">Helmet</a>,
                <a routerLink="/gear" [queryParams]="{type:'Gauntlets'}">Gauntlets</a>,
                <a routerLink="/gear" [queryParams]="{type:'Two Hand'}">Two Hand</a>,
                <a routerLink="/gear" [queryParams]="{type:'Main Hand'}">Main Hand</a> (
                <a routerLink="/drops" [queryParams]="{drop:'Amber Flux'}">Amber Flux</a>)
            </div>
            <div class="col-xs-12"><a routerLink="/recipes" [queryParams]="{search:'Enchant: Power'}">Power</a>:
                <a routerLink="/gear" [queryParams]="{type:'Chest Armor'}">Chest Armor</a>,
                <a routerLink="/gear" [queryParams]="{type:'Leg Armor'}">Leg Armor</a>,
                <a routerLink="/gear" [queryParams]="{type:'Boots'}">Boots</a> 
                (<a routerLink="/drops" [queryParams]="{drop:'Emerald Flux'}">Emerald Flux</a>)
            </div>
            <div class="col-xs-12"><a routerLink="/recipes" [queryParams]="{search:'Enchant: Magic'}">Magic</a>: 
            <a routerLink="/gear" [queryParams]="{type:'Amulet'}">Amulet</a>,
                <a routerLink="/gear" [queryParams]="{type:'Cloak'}">Cloak</a>,
                <a routerLink="/gear" [queryParams]="{type:'Ring'}">Ring</a> 
                (<a routerLink="/drops" [queryParams]="{drop:'Indigo Flux'}">Indigo Flux</a>)
            </div>
            <div class="col-xs-12">You cannot enchant <a routerLink="/gear" [queryParams]="{type:'Shield'}">Shield</a></div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='recipes && recipes.length'>
                <thead>
                    <tr>
                        <th (click)="sortOn($event, 'name')">Name<span [class]="getClass('name')"></span></th>
                        <th (click)="sortOn($event, 'time')">Time<span [class]="getClass('time')"></span></th>
                        <th>Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type='text' name="listFilter" [(ngModel)]='listFilter' placeholder="Filter recipe..." /></td>
                        <td></td>
                        <td><input type='text' name="ingredientFilter" [(ngModel)]='ingredientFilter' placeholder="filter ingredient..."
                            /></td>
                    </tr>
                    <tr *ngFor='let recipe of recipes | recipeFilter:listFilter | recipeIngredientsFilter:ingredientFilter | orderBy : [sort]'>
                        <td>{{ recipe.name }}</td>
                        <td>{{ recipe.time | time}}</td>
                        <td>
                            <div *ngFor='let ingredient of recipe.ingredients'>
                                {{ingredient.amount }} <a routerLink="/materials/" [queryParams]="{search:ingredient.material.name}">{{ingredient.material.name}}</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>