<div class='panel panel-primary'>
    <div class='panel-heading'>
        <div class="row">
            <div class="col-sm-2">Recipe List</div>
            <label class="col-sm-2" for="listFilter">Recipename filter by:</label>
            <input class="col-sm-2" type='text' name="listFilter" [(ngModel)]='listFilter' />
            <label class="col-sm-2" for="ingredientFilter">Material filter by:</label>
            <input class="col-sm-2" type='text' name="ingredientFilter" [(ngModel)]='ingredientFilter' />
        </div>
    </div>

    <div class='panel-body'>
        <!--<div class='row'>
            <div class='col-md-2'>Recipename filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Material filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='ingredientFilter' />
            </div>
        </div>-->
        <div class='row' *ngIf='listFilter || ingredientFilter'>
            <div class='col-md-6'>
                <h3>Recipe filtered by: {{listFilter}} Ingredients filtered: by {{ingredientFilter}} </h3> 
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table'
                   *ngIf='recipes && recipes.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let recipe of recipes | recipeFilter:listFilter | recipeIngredientsFilter:ingredientFilter'>
                        <td>{{recipe.name}}</td>

                        <td>{{recipe.time | time}}</td>
                        <td>
                            <div *ngFor='let ingredient of recipe.ingredients'>
                                {{ingredient.amount }} <a routerLink="/materials/" [queryParams]="{search:ingredient.material.name}">{{ingredient.material.name}}</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>