<div class='panel panel-primary'>

    <div class='panel-heading'>
        <div class="row">
            <div class="col-sm-12">Gear List ({{gear.length}})</div>
        </div>
    </div>

    <div class="row">
        <p>Gear has no 'default' modifiers except for 'defense', it reflects the gems you have equiped in the shop.</p>
        <p>Shops:</p>
        <ul>
            <li>Majerio's Shop</li>
            <li>Black Market (Mysterio)</li>
            <li>Glenfort Coliseum Store</li>
            <li>Event: Cupid</li>
        </ul>
    </div>

    <!-- large screens -->
    <div class='panel-body hidden-md hidden-sm hidden-xs'>
        <div class='table-responsive'>
            <table class='table' *ngIf='gear'>
                <thead>
                    <tr>
                        <th (click)="sortOn($event, 'name')">Name<span [class]="getClass('name')"></span></th>
                        <th (click)="sortOn($event, 'class')">Class<span [class]="getClass('class')"></span></th>
                        <th>Drops</th>
                        <th (click)="sortOn($event, 'type')">Type<span [class]="getClass('type')"></span></th>
                        <th (click)="sortOn($event, 'tier')">Tier<span [class]="getClass('tier')"></span></th>
                        <th>Cost</th>
                        <th (click)="sortOn($event, 'description')">Description<span [class]="getClass('description')"></span></th>
                        <th (click)="sortOn($event, 'defense')">Defense<span [class]="getClass('defense')"></span></th>
                        <th (click)="sortOn($event, 'subType')">Sub Type<span [class]="getClass('subType')"></span></th>
                        <th (click)="sortOn($event, 'damageMin')">Min Damage<span [class]="getClass('damageMin')"></span></th>
                        <th (click)="sortOn($event, 'damageMax')">Max Damage<span [class]="getClass('damageMax')"></span></th>
                        <th (click)="sortOn($event, 'speed')">Speed<span [class]="getClass('speed')"></span></th>
                        <th (click)="sortOn($event, 'damagePerSecond')">Damage/sec<span [class]="getClass('damagePerSecond')"></span></th>
                        <th (click)="sortOn($event, 'blockChance')">Block Chance<span [class]="getClass('blockChance')"></span></th>
                        <th (click)="sortOn($event, 'blockMitigation')">Block Mitigation<span [class]="getClass('blockMitigation')"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr *ngFor="let item of gear | stringFilter:nameFilter:'name' | stringFilter:valorFilter:'valor' | orderBy : [sort] ">-->
                    <tr *ngFor="let item of gear | orderBy : [sort] ">
                        <td>{{ item.name }}</td>
                        <td>{{ item.class }}</td>
                        <td>
                            <div *ngFor="let drop of item.drop">
                                {{ drop }}
                            </div>
                        </td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.tier }}</td>
                        <td>{{ item.cost.amount }} {{ item.cost.type }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.defense }}</td>
                        <td>{{ item.subType }}</td>
                        <td>{{ item.damageMin }}</td>
                        <td>{{ item.damageMax }}</td>
                        <td>{{ item.speed }}</td>
                        <td>{{ item.damagePerSecond }}</td>
                        <td>{{ item.blockChance }}</td>
                        <td>{{ item.blockMitigation }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- mobile view -->
    <div class='panel-body hidden-lg'>
        <ul class='table' *ngIf='gear'>
            <li *ngFor="let item of gear | orderBy : [sort]">
                <div (click)="toggle(item.name)" class="hand">{{ item.name }}</div>
                <ul [ngClass]="item.collapsed" [id]="item.name">
                    <li>Class: {{ item.class }} </li>
                    <li>Drops:
                        <ul *ngFor="let drop of item.drop">
                            <li>{{ drop }}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>