<div class='panel panel-primary'>

    <div class='panel-heading'>
        <div class="row">
            <div class="col-sm-12">Gear List ({{gear.length}})</div>
        </div>
    </div>

    <div class="row">
        <p>Gear has no 'default' modifiers except for 'defense', it reflects the gems you have equiped in the shop. -1 one means,
            I don't know, so if you know, because you have the item, please post it on the forums. I will add Justicar and
            Shadow Walkers, don't have the classes Frost Knight, Flame Warden and Inquisitor.</p>
        <p>Mind that the sorting and filtering doesn't work (yet) on mobile, but it does work in the desktop version.</p>
    </div>

    <!-- large screens -->
    <div class='panel-body hidden-md hidden-sm hidden-xs'>
        <div class='table-responsive'>
            <table class='table' *ngIf='gear'>
                <thead>
                    <tr>
                        <th (click)="sortOn($event, 'name')">Name<span [class]="getClass('name')"></span></th>
                        <th (click)="sortOn($event, 'class')">Class<span [class]="getClass('class')"></span></th>
                        <th>Drops</th>
                        <th (click)="sortOn($event, 'type')">Type<span [class]="getClass('type')"></span></th>
                        <th (click)="sortOn($event, 'tier')">Tier<span [class]="getClass('tier')"></span></th>
                        <th>Cost</th>
                        <th (click)="sortOn($event, 'description')">Description<span [class]="getClass('description')"></span></th>
                        <th (click)="sortOn($event, 'defense')">Defense<span [class]="getClass('defense')"></span></th>
                        <th (click)="sortOn($event, 'subType')">Sub Type<span [class]="getClass('subType')"></span></th>
                        <th (click)="sortOn($event, 'damageMin')">Min Damage<span [class]="getClass('damageMin')"></span></th>
                        <th (click)="sortOn($event, 'damageMax')">Max Damage<span [class]="getClass('damageMax')"></span></th>
                        <th (click)="sortOn($event, 'speed')">Speed<span [class]="getClass('speed')"></span></th>
                        <th (click)="sortOn($event, 'damagePerSecond')">Damage/sec<span [class]="getClass('damagePerSecond')"></span></th>
                        <th (click)="sortOn($event, 'blockChance')">Block Chance<span [class]="getClass('blockChance')"></span></th>
                        <th (click)="sortOn($event, 'blockMitigation')">Block Mitigation<span [class]="getClass('blockMitigation')"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr *ngFor="let item of gear | stringFilter:nameFilter:'name' | stringFilter:valorFilter:'valor' | orderBy : [sort] ">-->
                    <tr>
                        <td>
                            <input type='text' name="nameFilter" [(ngModel)]='nameFilter' placeholder="Filter name..." />
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <select name="typeFilter" [(ngModel)]='typeFilter'>
                                <!--<option *ngFor="let option of getDistinct('type')">{{ option }}</option> throws error-->
                                <option></option>
                                <option>Amulet</option>
                                <option>Boots</option>
                                <option>Chest Armor</option>
                                <option>Cloak</option>
                                <option>Gauntlets</option>
                                <option>Helmet</option>
                                <option>Leg Armor</option>
                                <option>Main Hand</option>
                                <option>Ring</option>
                                <option>Shield</option>
                                <option>Staff</option>
                                <option>Two Hand</option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <select name="valorFilter" [(ngModel)]='valorFilter'>
                                <option>Silver</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="descFilter" [(ngModel)]="descFilter" placeholder="Filter description" />
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <select name="subTypeFilter" [(ngModel)]='subTypeFilter'>
                                <!--<option *ngFor="let option of getDistinct('subType')">{{ option }}</option>-->
                                <option></option>
                                <option>Axe</option>
                                <option>Cloth</option>
                                <option>Light</option>
                                <option>Sword</option>
                                <option>Staff</option>
                                <option>?</option>
                            </select>
                        </td>
                    </tr>
                    <tr *ngFor="let item of gear 
                            | stringFilter:nameFilter:'name' 
                            | stringFilter:typeFilter:'type' 
                            | stringFilter:descFilter:'description' 
                            | stringFilter:subTypeFilter:'subType' 
                            | orderBy : [sort] ">
                        <td>{{ item.name }}</td>
                        <td>{{ item.class }}</td>
                        <td>
                            <div *ngFor="let drop of item.drop">
                                {{ drop }}
                            </div>
                        </td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.tier }}</td>
                        <td>{{ item.cost.amount }} {{ item.cost.type }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.defense }}</td>
                        <td>{{ item.subType }}</td>
                        <td>{{ item.damageMin }}</td>
                        <td>{{ item.damageMax }}</td>
                        <td>{{ item.speed }}</td>
                        <td>{{ item.damagePerSecond }}</td>
                        <td>{{ item.blockChance }}</td>
                        <td>{{ item.blockMitigation }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- mobile view -->
    <div class='panel-body hidden-lg'>
        <ul class='table' *ngIf='gear'>
            <label for="sort">Sort on:</label>
            <select id="sort">
                <option>name</option>
            </select>
            <label for="filter">Filter on:</label>
            <select id="filter">
                <option>name</option>
            </select>
            <input type="text" placeholder="Doesn't work yet... work in progress..." />
            <li *ngFor="let item of gear | orderBy : [sort]">
                <div (click)="toggle(item.name)" class="hand">{{ item.name }}</div>
                <ul [ngClass]="item.collapsed" [id]="item.name">
                    <li>Class: {{ item.class }} </li>
                    <li>Drops:
                        <ul *ngFor="let drop of item.drop">
                            <li>{{ drop }}</li>
                        </ul>
                    </li>
                    <li>Type: {{ item.type }}</li>
                    <li *ngIf="item.subType">SubType: {{ item.subType }}</li>
                    <li>Tier: {{ item.tier }}</li>
                    <li *ngIf="item.cost.type">Cost: {{ item.cost.amount }} {{ item.cost.type }}</li>
                    <li *ngIf="item.description">Description: {{ item.description }}</li>
                    <li *ngIf="item.defense">Defense: {{ item.defense }}</li>
                    <li *ngIf="item.damageMin">Damage: {{ item.damageMin }}-{{ item.damageMax }} ({{ item.damagePerSecond }} damage per second)</li>
                    <li *ngIf="item.speed">Speed: {{ item.speed }}</li>
                    <li *ngIf="item.blockChance">Block Chance: {{ item.blockChance }}</li>
                    <li *ngIf="item.blockMitigation">Block Mitigation: {{ item.blockMitigation }}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>