<div class='panel panel-primary'>
    <div class='panel-heading'>
        <div class="row">
            <div class="col-sm-12">Raid List ({{raids.length}})</div>
        </div>
    </div>

    <div class="row">
        <p>I have found some bugs with collapsing and sorting in the mobile version, work in progress, but for the desktop version
            it should work ok. I'm collecting drop rates and cooldown timers. Let me know if you have data which I can add
            via a forum past (see footer)</p>
    </div>

    <!-- large screens -->
    <div class='panel-body hidden-md hidden-sm hidden-xs'>
        <div class='table-responsive'>

            <div *ngIf="!raids">Loading data...</div>

            <table class='table' *ngIf='raids'>
                <thead>
                    <tr>
                        <th (click)="sortOn($event, 'name')">Name<span [class]="getClass('name')"></span></th>
                        <th (click)="sortOn($event, 'valor')">Valor<span [class]="getClass('valor')"></span></th>
                        <th (click)="sortOn($event, 'might')">Might<span [class]="getClass('might')"></span></th>
                        <th (click)="sortOn($event, 'waves')">Gold, Silver, Bronze Time, Waves<span [class]="getClass('waves')"></span></th>
                        <th>Phases and Description</th>
                        <th (click)="sortOn($event, 'cooldown')">Cooldown<span [class]="getClass('cooldown')"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type='text' name="nameFilter" [(ngModel)]='nameFilter' placeholder="Filter name..." /></td>
                        <td>
                            <select name="valorFilter" [(ngModel)]='valorFilter' placeholder="Filter valor...">
                                <option name="" value=""></option>
                                <option name="Squire's Valor" value="Squire's Valor">Squire's Valor</option>
                                <option name="Soldier's Valor" value="Soldier's Valor">Soldier's Valor</option>
                                <option name="Knight's Valor" value="Knight's Valor">Knight's Valor</option>
                                <option name="Captain's Valor" value="Captain's Valor">Captain's Valor</option>
                                <option name="Guardian's Valor" value="Guardian's Valor">Guardian's Valor</option>
                        </select>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr *ngFor="let raid of raids | stringFilter:nameFilter:'name' | stringFilter:valorFilter:'valor' | orderBy : [sort] ">
                        <td><a [routerLink]="['/locations']" [queryParams]="{search: raid.name}">{{ raid.name }}</a></td>
                        <td>{{ raid.valor }}</td>
                        <td>{{ raid.might }}</td>
                        <td>
                            <div>G:{{ raid.gold | time }}</div>
                            <div>S:{{ raid.silver | time }}</div>
                            <div>B:{{ raid.bronze | time }}</div>
                            <div>Waves: {{ raid.waves }}</div>
                        </td>
                        <td>
                            <div *ngFor="let phase of raid.phases; let i = index;">Phase {{ i+1 }}: {{ phase.description }}</div>
                            <div>Description: {{ raid.description }}</div>
                        </td>
                        <td>{{ raid.cooldown | time }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class='panel-body hidden-lg'>
        <div class='table-responsive'>

            <div *ngIf="!raids">Loading data...</div>

            <table class='table' *ngIf='raids'>
                <thead>
                    <tr>
                        <th (click)="sortOn($event, 'name')">Name<span [class]="getClass('name')"></span></th>
                        <th (click)="sortOn($event, 'valor')">Valor<span [class]="getClass('valor')"></span></th>
                        <th (click)="sortOn($event, 'might')">Might<span [class]="getClass('might')"></span></th>
                        <th (click)="sortOn($event, 'waves')">Energy<span [class]="getClass('waves')"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type='text' name="nameFilter" [(ngModel)]='nameFilter' placeholder="Filter name..." /></td>
                        <td>
                            <select name="valorFilter" [(ngModel)]='valorFilter' placeholder="Filter valor...">
                                <option name="" value=""></option>
                                <option name="Squire's Valor" value="Squire's Valor">Squire's Valor</option>
                                <option name="Soldier's Valor" value="Soldier's Valor">Soldier's Valor</option>
                                <option name="Knight's Valor" value="Knight's Valor">Knight's Valor</option>
                                <option name="Captain's Valor" value="Captain's Valor">Captain's Valor</option>
                                <option name="Guardian's Valor" value="Guardian's Valor">Guardian's Valor</option>
                        </select>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr *ngFor="let raid of raids | stringFilter:nameFilter:'name' | stringFilter:valorFilter:'valor' | orderBy : [sort] ">
                        <td colspan="4">
                            <table>
                                <tr>
                                    <td (click)="toggle(raid.index)" colspan="3"><strong>{{ raid.name }}</strong></td>
                                </tr>
                                <tr>
                                    <td>{{ raid.valor }}</td>
                                    <td>{{ raid.might }}</td>
                                    <td>{{ raid.waves * 2 }}e/{{ (raid.waves * 2) / 50 }}toons</td>
                                </tr>
                                <tr [ngClass]="raid.collapsed" [id]="raid.index">
                                    <td colspan="3" class="text">
                                        <a [routerLink]="['/locations']" [queryParams]="{search: raid.name}">see location</a>
                                        <ul>
                                            <li>Gold:{{ raid.gold | time }}</li>
                                            <li>Silver:{{ raid.silver | time }}</li>
                                            <li>Bronze:{{ raid.bronze | time }}</li>
                                        </ul>
                                        <p>Waves: {{ raid.waves }}</p>
                                        <p>Energy needed: {{ raid.waves * 2 }} / {{ (raid.waves * 2) / 50 }} characters (not
                                            counting onslaught and regen)</p>
                                        <p>Description: {{ raid.description }}</p>
                                        <p>Cooldown: {{ raid.cooldown | time }}</p>
                                        <ul>
                                            <li *ngFor="let phase of raid.phases; let i = index;">Phase {{ i+1 }}: {{ phase.description }}</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>