<div class='panel panel-primary'>
    <div class='panel-heading'>
        <div class="row">
            <div class="col-sm-12">Material List ({{matsList.length}})</div>
        </div>
    </div>

    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table' *ngIf='matsList && matsList.length'>
                <thead>
                    <tr>
                        <th (click)="sortOn($event, 'name')">Name<span [class]="getClass('name')"></span></th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type='text' name="materialFilter" [(ngModel)]='materialFilter' placeholder="Filter materials..." /></td>
                        <td><input type='text' name="locationFilter" [(ngModel)]='locationFilter' placeholder="Filter locations..." /></td>
                    </tr>
                    <tr *ngFor='let material of matsList | materialFilter:materialFilter | locationFilter:locationFilter | orderBy : [sort]'>
                        <td><a [routerLink]="materials" [queryParams]="{search:material.name}">{{material.name}}</a></td>
                        <td>
                            <div *ngFor="let drop of material.locations">
                                <div *ngIf="!getLink(drop)">{{ drop }}</div>
                                <a *ngIf="getLink(drop)" [routerLink]="getLink(drop)" [queryParams]="getLink(drop,true)">{{ drop }}</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>